@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: "Red Hat Display", serif;
}

html{
    font-size: 62.5%;
}

body{
    background: url("images/pattern-background-desktop.svg") center / cover no-repeat, hsl(225, 100%, 94%);
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

.card{
    width: 45rem;
    background-color:white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 3px 2px 13px -4px black; 
    box-shadow: 3px 2px 13px -4px black;
}

.card-image{
    border-radius: 2rem 2rem 0 0;
}

.card-title{
    margin: 4rem 0 2rem;
    font-size: 3rem;
    font-weight: 900;
}

.card-paragraph{
    color:hsl(224, 23%, 55%);
    font-size: 1.6rem;
    text-align: center;
    width: 35rem;
    line-height: 2.4rem;
}

.information{
    display: flex;
    width: 32rem;
    align-items: center;
}

.price-information{
    margin: 4rem auto 4rem 2.5rem;
    font-size: 1.2rem;
}

.price-information h2{
    font-weight: 900;
}

.price-information p{
    color:hsl(224, 23%, 55%);
    font-size: 1.6rem;
}

.change{
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 900;
    color:hsl(245, 75%, 52%);
}

.payment-btn{
    background:hsl(245, 75%, 52%);
    border: none;
    color:hsl(225, 100%, 98%);
    font-size: 1.6rem;
    font-weight: 600;
    width: 80%;
    line-height: 6rem;
    border-radius: 1.2rem;
    cursor: pointer;
    -webkit-box-shadow: 3px 26px 17px -5px rgba(56,41,224,0.2); 
box-shadow: 3px 26px 17px -5px rgba(56,41,224,0.2);
}

.cancel-btn{
    background: transparent;
    border: none;
    width: 50%;
    font-size: 1.4rem;
    color:hsl(224, 23%, 55%);
    line-height: 6rem;
    margin: 2rem 0 2rem;
    font-weight: 900;
    cursor: pointer;
}

@media (max-width: 500px) {
    .card, .card-image{
        width: 35rem;
    }
    .card-title{
        font-size: 2.5rem;
    }
    .information{
        width: 80%;
    }
    .price-information{
        font-size: 1rem;
    }
    .price-information p{
        font-size: 1.4rem;
    }
}